<div class=" container-sm">
    <div class=" col-md-4 offset-4 mt-5"> 
    
    <form class=" form-container "  (ngSubmit)="rentVehicle()" novalidate [formGroup]="rentVehicleForm">
        <mat-form-field class="form-width">
            <input matInput placeholder="Vehicle name" type="text" required formControlName="vehicleName">
        </mat-form-field>
        <mat-form-field class="form-width">
            <input matInput placeholder="Vehicle no." type="text" required formControlName="vehicleNo">
        </mat-form-field>
        <mat-form-field class="form-width">
            <input matInput placeholder="Registration No" type="text" required formControlName="registrationNo">
        </mat-form-field>
        <mat-form-field class="form-width">
            <input matInput placeholder="insurance no." type="text" required formControlName="insuranceNo">
        </mat-form-field>
           <mat-form-field>
            <mat-label>Vehicle Type</mat-label>
            <mat-select matNativeControl required formControlName="vehicleType">
              <mat-option value="Moto">Moto</mat-option>
              <mat-option value="Hatchback">Hatchback</mat-option>
              <mat-option value="Sedan">Sedan</mat-option>
              <mat-option value="SUV">SUV</mat-option>
              <mat-option value="Minibus">Minibus</mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-width">
            <input matInput placeholder="Rent per day" type="number" required formControlName="rentPerDay">
        </mat-form-field> 
        <mat-form-field class="form-width">
            <input matInput placeholder="Security Amount" type="number" required formControlName="securityAmount">
        </mat-form-field> 
        <mat-form-field class="form-width">
            <input matInput placeholder="Fine per day" type="number" required formControlName="fine">
        </mat-form-field> 
        <br>
        <div>
            <button mat-raised-button type="submit" color="primary">add </button>
            <button class="right" mat-raised-button type="reset" color="default">Cancel</button>
        </div>
    </form>
    </div></div>