<div class=" container-sm " style="margin-top: 2%;margin-bottom:2%;margin-left: 2%" [hidden]="!display">
    <div class="col-12 justify-content-center">
    <div class="inner">
  
        
    <form class=" form-container "  (ngSubmit)="continue()" novalidate [formGroup]="rentVehicleForm">
        <h3>Rent Vehicle</h3>
        <div class="inner-form" style="text-align: center;">
        <mat-form-field appearance="fill" class="mat-form">
            <mat-label>Vehicle name</mat-label>
            <mat-select formControlName="vehicleName">
              <mat-option *ngFor="let vehicleName of vehicleList" [value]="vehicleName">
                {{vehicleName.vehicleName }} :: {{vehicleName.vehicleNo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="mat-form">
            <mat-label>Customer Email</mat-label>
            <mat-select  formControlName="userEmail">
              <mat-option *ngFor="let userEmail of customerList" [value]="userEmail">
                {{userEmail.email}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <div class="form-group row">
            <div class=" col-lg-6 col-md-6 col-sm-12">
        <mat-form-field >
            <mat-label>Issue Date</mat-label>
            <input matInput class="form-control" class=" form-container " [matDatepicker]="picker" formControlName="issueDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
</div></div>
<div class="form-group row">
<div class=" col-lg-6 col-md-6 col-sm-12">
        <mat-form-field >
            <mat-label>Return Date</mat-label>
            <input matInput class="form-control" class=" form-container " [matDatepicker]="picker1" formControlName="returnDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
</div>
        </div>
               <div>
            <button  type="submit" color="primary"> Continue </button>
            <button class="right"  type="reset" style="background-color: aliceblue; color:black;border:solid" color="default">Cancel</button>
        </div>
    </form>
    </div>
</div>
    <div class=" container-sm justify-content-center" [hidden]="display">
       
        <div class=" col-lg-12  mt-5 d-flex justify-content-center"> 
        
        <form class=" form-container "  (ngSubmit)="rentVehicle()" novalidate [formGroup]="rentVehicleFormContinued">
           
            <div class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <label for="">Vehicle no.</label>
                    <input class="form-control"   placeholder="Vehicle no." type="text" required formControlName="vehicleNo">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="">Vehicle Name</label>
                    <input class="form-control" placeholder="Vehicle Name" type="text" required formControlName="vehicleName">
                </div>
            </div>
            <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <label for="">Email</label>
                    <input class="form-control"  placeholder="Customer Email" type="text" required formControlName="userEmail">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <label for="">Customer Name</label>
                    <input class="form-control"   placeholder="Customer Name" type="text" required formControlName="userName">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="">Customer Contact</label>
                    <input class="form-control" placeholder="Customer Phone no" type="text" required formControlName="userPhone">
                </div>
            </div>
  
            <div class="form-group row">
                <div class=" col-lg-6 col-md-6 col-sm-12">
                <label for="">Vehicle Type</label>
                <select  class="form-control" placeholder="Vehicle Type"  required formControlName="vehicleType">
                    <option value="Moto">Moto</option>
                    <option value="Hatchback">Hatchback</option>
                    <option value="Sedan">Sedan</option>
                    <option value="SUV">SUV</option>
                    <option value="Minibus">Minibus</option>
                  </select>
            </div>
            <div class="col-lg-6 col-sm-12">
                <label for="">Security Amount</label>
                <input class="form-control" placeholder="Security Amount" type="number" required formControlName="securityAmount">
            </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-6 col-sm-12">
        <mat-form-field >
            <mat-label>Issue Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="issueDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
        <div class="col-lg-6 col-sm-12">
        <mat-form-field >
            <mat-label>Return Date</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="returnDate">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6 col-sm-12">
            <label for="">Rent per day</label>
            <input class="form-control"  placeholder="Rent per day" type="number" required formControlName="rentPerDay">
        </div>
        <div class="col-lg-6 col-sm-12">
            <label for="">Fine per day</label>
            <input class="form-control" placeholder="Fine per day" type="number" required formControlName="finePerDay">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6 col-sm-12">
            <label for="">Total Fine</label>
            <input class="form-control"  placeholder="Total Fine" type="number" required formControlName="totalFine">
        </div>
        <div class="col-lg-6 col-sm-12">
            <label for="">Total Rent</label>
            <input class="form-control" placeholder="Total Rent" type="number" required formControlName="totalRent">
        </div>
    </div>
    
    

        <br>
            <div>
                <button  type="submit" color="primary"> Rent </button>
                <button class="right"  type="reset" style="background-color: aliceblue; color:black;border:solid" color="default">Cancel</button>
            </div>
        </form>
        </div>
    </div>
    </div>
