<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class=" example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row"> <button (click)="editVehicle(row)" class=" btn btn-dark">Edit</button></td>
    </ng-container>
  

    <!-- Progress Column -->
    <ng-container matColumnDef="vehicleName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Name </th>
      <td mat-cell *matCellDef="let row"> {{row.vehicleName}}  </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="vehicleNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle Number </th>
      <td mat-cell *matCellDef="let row"> {{row.vehicleNo}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="vehicleType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Type </th>
      <td mat-cell *matCellDef="let row"> {{row.vehicleType}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
    </ng-container> -->

    <ng-container matColumnDef="registrationNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration No. </th>
      <td mat-cell *matCellDef="let row"> {{row.registrationNo}} </td>
    </ng-container>

    <ng-container matColumnDef="insuranceNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Insurance No. </th>
      <td mat-cell *matCellDef="let row"> {{row.insuranceNo}} </td>
    </ng-container>

    <ng-container matColumnDef="rentPerDay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rent / Day </th>
      <td mat-cell *matCellDef="let row"> {{row.rentPerDay}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
      <td mat-cell *matCellDef="let row"> {{row.createdAt | date: 'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Active</th>
      <td mat-cell *matCellDef="let row"> {{row.isActive}} </td>
    </ng-container>

    <ng-container matColumnDef="securityAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Security Amount</th>
      <td mat-cell *matCellDef="let row"> {{row.securityAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="fine">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fine</th>
      <td mat-cell *matCellDef="let row"> {{row.fine}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year</th>
      <td mat-cell *matCellDef="let row"> {{row.year}} </td>
    </ng-container>


    <ng-container matColumnDef="kmRan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Km Ran</th>
      <td mat-cell *matCellDef="let row"> {{row.kmRan}} </td>
    </ng-container>

    
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Model</th>
      <td mat-cell *matCellDef="let row"> {{row.model}} </td>
    </ng-container>


    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Color</th>
      <td mat-cell *matCellDef="let row"> {{row.color}} </td>
    </ng-container>

    <ng-container matColumnDef="isAvailable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Availability</th>
      <td mat-cell *matCellDef="let row"> {{row.isAvailable}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"  ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="isActive" [ngClass]="{'isInActive': row.isActive == 'false'}"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 50, 100]"></mat-paginator>
</div>