<div class=" container-sm ">
    <div class=" col-md-4 offset-4 mt-5 "> 
        <div class="inner">
         <form class=" form-container "  (ngSubmit)="addVehicle()" novalidate [formGroup]="addVehicleForm">
            <h3>Add Vehicle</h3>
            <div class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <label for="">Vehicle Name</label>
                    <input class="form-control" placeholder="Vehicle name" type="text" required formControlName="vehicleName">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="">Vehicle no.</label>
                    <input class="form-control" placeholder="Vehicle no." type="text" required formControlName="vehicleNo">
                </div>
            </div>


        <div class="form-group row">
            <div class="col-lg-6 col-sm-12">
                <label for="">Registration No</label>
                <input class="form-control" placeholder="Registration No" type="text" required formControlName="registrationNo">
            </div>
            <div class="col-lg-6 col-sm-12">
                <label for="">insurance no.</label>
                <input class="form-control" placeholder="insurance no." type="text" required formControlName="insuranceNo">
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-6 col-sm-12">
                <label>Vehicle Type</label>
                <select class="form-control" required formControlName="vehicleType">
                  <option value="Moto">Moto</option>
                  <option value="Hatchback">Hatchback</option>
                  <option value="Sedan">Sedan</option>
                  <option value="SUV">SUV</option>
                  <option value="Minibus">Minibus</option>
                </select>
            </div>
            <div class="col-lg-6 col-sm-12">
                <label for="">Rent per day</label>
                <input class="form-control"  placeholder="Rent per day" type="number" required formControlName="rentPerDay">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6 col-sm-12">
                <label for="">Security Amount</label>
                <input class="form-control" placeholder="Security Amount" type="number" required formControlName="securityAmount">
            </div>
            <div class="col-lg-6 col-sm-12">
                <label for="">Fine per day</label>
                <input class="form-control" placeholder="Fine per day" type="number" required formControlName="fine">
            </div>
        </div>
        

 
        <br>
        <div>
            <button type="submit" color="primary">add </button>
            <button class="right" type="reset" style="background-color: aliceblue; color:black;border:solid" color="default">Cancel</button>
        </div>
    </form>
</div>
    </div></div>