<div class="container p-5 "  >
  <div class="row">
    <div class="col-md-3">
      <a [routerLink]="'../vehicle-list'">
        <div class="card-counter primary">
          <i class="fa fa-car" aria-hidden="true"></i>
          <span class="count-numbers">{{availableVehicleCount}}</span>
          <span class="count-name">Available Vehicles</span>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a [routerLink]="'../vehicles-rented'">
        <div class="card-counter danger">
          <i class="fa fa-car" aria-hidden="true"></i>
          <span class="count-numbers">{{currentIssuedCount}}</span>
          <span class="count-name">Rented Vehicles</span>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a [routerLink]="'../user-list'">
        <div class="card-counter success">
          <i class="fa fa-users"></i>
          <span class="count-numbers">{{customerCount}}</span>
          <span class="count-name">Registered Users</span>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a [routerLink]="'../payment-details'">
        <div class="card-counter info">
          <i class="fa fa-money"></i>
          <span class="count-numbers">{{totalPayment}} ₹</span>
          <span class="count-name">Payment Received</span>
        </div>
      </a>
    </div>
  </div>
</div>