<div class="sidebar">
    <a mat-list-item routerLinkActive="active"  [routerLink]="'customer-home'"> Home </a>
    
    <a mat-list-item routerLinkActive="active" [routerLink]="'vehicles-available'"> Vehicle List </a>
    <a mat-list-item routerLinkActive="active" [routerLink]="'issued-vehicles'"> Issued Vehicle </a>
    <a mat-list-item routerLinkActive="active" [routerLink]="'payment-history'"> Payment History </a>
    <!-- <a mat-list-item routerLinkActive="active" [routerLink]="'add-user'"> Add User </a>
    <a mat-list-item routerLinkActive="active" [routerLink]="'rent-vehicle'"> Rent Vehicle </a>
    <a mat-list-item routerLinkActive="active" [routerLink]="'return-vehicle'"> Return Vehicle </a>

    <a mat-list-item routerLinkActive="active" [routerLink]="'vehicles-rented'">Vehciles Rented </a>
    <a mat-list-item routerLinkActive="active" [routerLink]="'payment-details'"> Payment Details </a> -->
      <!-- <a mat-list-item (click)="sidenav.toggle(" href="" mat-list-item>Close</a> -->
  </div>

